.left {
  float: left;
  width: 200px;
  border: 2px solid rgb(0, 109, 128)0, 95, 70);
  padding: 10px;
  background-color: orange;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

li {
  color: black;
}

li .animal-name {
  font-style: bold;
  font-size: 30px;
}

h2.animal-type {
  width: 100%;
  font-family: sans-serif;
}

#Toni {
  color: orange;
  font-size: 54px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

div.profile {
  float: left;
  margin: auto;
  width: 50%;
  padding: 10px;
}